body {
    padding: 0em 2em 0em 1em;
}
.mt-10 {
    margin-top: 10px;
}
.logout-btn {
    text-transform: capitalize;
}
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    padding: 5px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.headernav {
    margin-top: 15px;
    right: 23px;
}

#support {
    background-color: #ffffff;
    height: 390px;
    padding: 15px;
}

.nav-image {
    width: 48px;
}

.carousel-inner>.item img {
    min-height: 150px;
    min-width: 100%;
    object-fit: fill;
   
}

.static{
    margin-top: 13px!important;
    margin-left: 12px;
}

