body {
	background-size: cover;
	background-image: url("Penguins.jpg");
	background-repeat: no-repeat;
	font-style: Arial;
	color: white;
	transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
}

body:hover {
	background-image: url("Penguins.jpg");
	transition: 2s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
}

.images {
	height: 300px;
	position: absolute;
	left: 2px;
	top: 50%;
}

.image {
	height: 300px;
	position: absolute;
	right: 2px;
	top: 50%;
}

.loginarea {
	padding: 20px;
	border: 0px;
	border-radius: 20px;
	margin: 20px solid;
	width: 320px;
	height: 430px;
	background-color: rgba(0, 0, 0, 0.5);
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
}

p {
	text-align: center;
	font-weight: bold;
}

h1 {
	font-weight: bold;
	font-size: 29px;
	text-align: center;
}

span {
	color: cadetblue;
	FONT-WEIGHT: BOLD;
	font-style: sans-serif;
	font-size: 20px;
}

.loginarea input[type="submit"] {
	border: none;
	color: skyblue;
	outline: none;
	height: 27px;
	width: 98%;
	font-size: 18px;
	border-radius: 12px;
}

.loginarea input[type="submit"]:hover {
	opacity: 0.3;
	cursor: alias;
}

.loginarea input[type="text"] {
	width: 100%;
	border-radius: 20px;
	COLOR: skyblue;
	background-color: transparent;
}

.loginarea input[type="password"] {
	width: 100%;
	border-radius: 20px;
	COLOR: skyblue;
	background-color: transparent;

}


.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	left: 47%;
	top: -13%;
	position: absolute;
	transform: translate(-50%, -50%);

}

.anc:hover {
	color: pink;
	font-weight: bold;
	opacity: 0.8;

}

.anc {
	color: black;
	opacity: 0.8;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	font-weight: bold;
	color: peachpuff;
}